{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-8 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title">{{ post.title }}</h2>
      {% if post.published_date %}
      <p class="blog-post-meta">{{ post.published_date }}</p>
      {% endif %}
      {{ post.text|safe }}
    </div><!-- /.blog-post -->
    <div>{% load disqus_tags %}
         {% disqus_dev %}
         {% disqus_show_comments %}
    {% set_disqus_developer 1 %}
    {% set_disqus_url object.get_absolute_url %}</div>
  </div>
</div>
</div>
{% endblock content %}