{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block head %}<title>Мамин сайт | уииии</title>
<script src='https://www.google.com/recaptcha/api.js'></script>{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-8 blog-main">
    <div class="blog-post">
		<h2>Ключи от моих дверей</h2>
		<p>Для связи со мной используйте форму обратной связи, оставьте свои данные и я с вами обязательно свяжусь!</p>
<form action="/contact/" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
	<div>
	  <label for="id_subject">Тема:</label>
	  <span style="color: red;">{{ form.subject.errors }}</span>
	  {{ form.subject }}
	</div>
	<div>
	  <label for="id_sender">E-mail:</label>
	  <span style="color: red;">{{ form.sender.errors }}</span>
	  {{ form.sender }}
	</div>
	<div>
	  <label for="id_message">Сообщение:</label>
	  <span style="color: red;">{{ form.message.errors }}</span>
	  {{ form.message }}
	</div>
	<div>
	  <span style="color: red;">{{ form.copy.errors }}</span>
	  <label for="id_copy">Отправить копию себе {{ form.copy }}</label>
	</div>
	<!--<div class="g-recaptcha" data-sitekey="6LcCJB4TAAAAAHN1n6wulTaFZ7GtxSzclnYdJih_"></div>-->
	<span style="color: red;">{{ form.captcha.errors }}</span>
	<div>{{ form.captcha }}</div>
	<input type="submit" value="Отправить"/>
</form><span style="color: red;">
    </div><!-- /.blog-post -->
  </div>
</div>
</div>
{% endblock content %}