{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<head><title>Мамин сайт | уииии</title></head>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
            {% for post in posts %}
        {% if post.id == 1 %}<div class="item active"> {% else %}<div class="item">{% endif %}
          <img src="{% static 'image/carusel_background.jpg' %}">
          <div class="container">
            <div class="carousel-caption">
              <h1> {{ post.title }}</h1>
              <p>{{ post.text|safe|striptags|linebreaks|truncatewords:20 }}</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'post_detail' pk=post.pk %}" role="button">View details &raquo;</a></p>
            </div>
          </div>
        </div>
              {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      {% for post in posts %}
        <div class="col-md-4">
        <img class="img-thumbnail" src="{% static post.image.url %}" width="140px" height="140px" alt="Generic placeholder image">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|safe|striptags|linebreaks|truncatewords:20 }}</p>
            <p><a class="btn btn-default" href="{% url 'post_detail' pk=post.pk %}" role="button">View details &raquo;</a></p>
            <p><span class="glyphicon glyphicon-calendar"></span> {{ post.published_date }}</p>

        </div>
    {% endfor %}
    <div>{% load taggit_templatetags2_tags %}
    {% get_taglist as tags %}
        <ul> Теги:
    {% for tag in tags %}
    <li style="font-size: {{tag.num_times|add:"+20"}}px;"> <a href="/posts/tag/{{tag}}">{{tag}} </a>({{tag.num_times}})</li>
    {% endfor %}
        </ul></div>
      </div></div>
{% endblock content %}