{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block head %}<title>Мамин сайт | уииии</title>{% endblock %}

{% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          {% for post in car_posts %}
        {% if post.id == 1 %}<li data-target="#myCarousel" data-slide-to="0" class="active"></li>{% else %}<li data-target="#myCarousel" data-slide-to="{{ post.id|add:'-1' }}"></li>{% endif %}
        {% endfor %}
      </ol>
      <div class="carousel-inner">
            {% for post in car_posts %}
        {% if post.id == 1 %}<div class="item active"> {% else %}<div class="item">{% endif %}
          <img src="{% static 'post.image_background' %}" height="400px">
          <div class="container">
            <div class="carousel-caption">
              <h1> {{ post.title }}</h1>
              <p>{{ post.text|safe|striptags|linebreaks|truncatewords:20 }}</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'post_detail' url=post.url %}" role="button">View details &raquo;</a></p>
            </div>
          </div>
        </div>
              {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <div class="col-sm-8 blog-main">
      {% for post in posts %}
        <div class="col-md-4">
        <img class="img-thumbnail" src="{% static post.image.url %}" width="140px" height="140px" alt="Generic placeholder image">
            <h2><a href="{% url 'post_detail' url=post.url %}">{{ post.title }}</a></h2>
            <p>{{ post.text|safe|striptags|linebreaks|truncatewords:20 }}</p>
            <p><a class="btn btn-default" href="{% url 'post_detail' url=post.url %}" role="button">View details &raquo;</a></p>
            <p><span class="glyphicon glyphicon-calendar"></span> {{ post.published_date }}</p>

        </div>
    {% endfor %}
          </div>
          <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <div class="row"> <h2>Теги: </h2>
{% load taggit_templatetags2_tags %}
{% if forvar %}
{% get_tagcloud as tags for forvar %}
{% else %}
{% get_tagcloud as tags %}
{% endif %}
<div class="well">
{% for tag in tags %}
<font size={{tag.weight|floatformat:0}}><a href="/posts/tag/{{tag}}" target=_blank title="({{tag.num_times}})">{{tag}}</a></font>{% if not forloop.last %}, {% endif%}
{% endfor %}
</div></div>
              <div class="row"><h2>Рубрики: </h2>
              <div class="well"><ul>{% for c in categories %} <font size=5><li><a href="/category/{{c.id}}">{{c.category}}</a>{% if not forloop.last %}, </li>{% else %}.</li>{% endif%}</font>{% endfor %}</ul></div></div>
          </div>
        </div><!-- /.blog-sidebar -->
      </div>
    <!--<div class="row">
        <div class="col-sm-8 blog-main" align="center">
    <span class="pager">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}" class="btn btn-default" role="button">&laquo; previous</a>
        {% endif %}

        <span class="current">
             Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}" class="btn btn-default" role="button">next &raquo;</a>
        {% endif %}
    </span>
</div></div>--></div></div>
{% endblock content %}
