{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-sm-8 blog-main">
    <div class="blog-post">
        {% load taggit_templatetags2_tags %}
        {% get_taglist as tags %}
        <ul>
{% for tag in tags %}
<li>{{tag}} ({{tag.num_times}})</li>
{% endfor %}
</ul>

<div class="row">
      {% for post in posts %}
        <div class="col-md-4">
        <img class="img-circle" src="{% static post.image.url %}" width="140px" height="140px" alt="Generic placeholder image">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|safe|striptags|linebreaks|truncatewords:20 }}</p>
            <p><a class="btn btn-default" href="{% url 'post_detail' pk=post.pk %}" role="button">View details &raquo;</a></p>
            <p><span class="glyphicon glyphicon-calendar"></span> {{ post.published_date }}</p>

        </div>
    {% endfor %}
      </div>
    </div><!-- /.blog-post -->
  </div>
</div>
</div>
{% endblock content %}